Body{
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    background-color: #0b1520;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    text-align: center;
    background-color: #0b1520;
    position: fixed;
    z-index: 10;
}


li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 20px;
}

hr{
	border: 0;
	border-top: 5px solid #5c7bb5;
    padding: 20px 0 20px 0;
}

h1{
    color: #ab6b8e;
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 20px 40px 20px;
    font-family: "Changa One", Arial, Helvetica, sans-serif;
}

h2{
    Color: #ab6b8e;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
}

table{
    width: 900px;
    margin: 0 auto;
    padding: 0px;
    table-layout: fixed;
    border-collapse: collapse;
    border-style: hidden;
}

thead{
    background-color: #255384;
    color: #ab6b8e;
    width: 60px;
    height: 60px;
    font-size: 20px;
}

td{
    border-color: 2px solid #5c7bb5;
    word-wrap: break-word;
    padding: 20px;
    border: 2px solid #5c7bb5;
    color: #8fa7d3;
}

a{
    color:#8fa7d3;
    text-decoration: none;
}

.property{
    background-color: #ab6b8e;
    font-family: "roboto mono", monospace;
    display: inline-block;
    width: 200px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    color: #0b1520;
}